<div>
  <span class="dx" tooltip="Расстояние по оси X" tooltip-animation="false" tooltip-trigger="mouseenter" tooltip-append-to-body="true" tooltip-placement="top"><input type="number" ng-model="model.x"></span>
  <span class="dy" tooltip="Расстояние по оси Y" tooltip-animation="false" tooltip-trigger="mouseenter" tooltip-append-to-body="true" tooltip-placement="top"><input type="number" ng-model="model.y"></span>
  <span class="width" tooltip="Ширина тени" tooltip-animation="false" tooltip-trigger="mouseenter" tooltip-append-to-body="true" tooltip-placement="top"><input type="number" ng-model="model.width"></span>
  <label ng-style="{'background-color':model.color}" class="color"><input ng-model="model.color" colorpicker="rgba" colorpicker-position="top"></label>
</div>
