<div class="attachPoll">
  <h3>
  	<span class="relative">
  		<span class="pollIcon">
  			<i class="fa fa-bar-chart"></i>
  		</span>
  		Тема опроса
  		<span class="removeIcon" ng-click="ctr.removePoll()">
  			<i class="fa fa-times"></i>
  		</span>
		</span>
	</h3>
	<input type="text" class="form-control" ng-model="ctr.poll.question">

  <h3>Варианты ответа</h3>
  <div class="variants">
    <div class="variant" ng-repeat="variant in ctr.poll.variants">
      <input type="text" class="form-control" ng-focus="ctr.createNewVariant($index)" ng-model="ctr.poll.variants[$index].text">
      <span class="remove" ng-show="ctr.removeIsEnabled($index)" ng-click="ctr.removeVariant(variant)">
      	<i class="fa fa-times"></i>
      </span>
    </div>
  </div>
  <div class="checkboxList controls-list">
    <label>
      <input type="checkbox" ng-model="ctr.poll.is_anonymous">
      <span>Анонимное голосование</span>
    </label>
  </div>
</div>
