<div class="channel socialBg" data-network="{{channel_ctr.network}}" ng-class="{'complete': channel_ctr.isComplete(), 'fail': channel_ctr.isFail()}">
  <div class="workArea">
    <header class="social_bg deep" data-network="{{channel_ctr.network}}">
      <div class="progress-bar progress-bar-info progress-bar-striped active" ng-class="{'showed':channel_ctr.showProgress(channel)}"></div>

      <span class="actions" ng-show="channel_ctr.showActions(channel)">
        <span class="visibility" ng-click="channel_ctr.toggleVisibility(channel)">
          <i class="fa fa-eye" ng-class="{'active': channel.disabled}"></i>
          <i class="fa fa-eye-slash" ng-class="{'active': !channel.disabled}"></i>
        </span>
      </span>



      <div class="socialSign">
        <span class="vk" ng-if="channel_ctr.network === 'vk'"><i class="fa fa-vk"></i></span>
        <span class="fb" ng-if="channel_ctr.network === 'fb'"><i class="fa fa-facebook"></i></span>
        <span class="tw" ng-if="channel_ctr.network === 'tw'"><i class="fa fa-twitter"></i></span>
        <span class="ig" ng-if="channel_ctr.network === 'ig'"><i class="fa fa-instagram"></i></span>
        <span class="gp" ng-if="channel_ctr.network === 'gp'"><i class="fa fa-google-plus"></i></span>
        <span class="ok" ng-if="channel_ctr.network === 'ok'"><i class="fa fa-ok"></i></span>
      </div>

      <span class="screen_name" ng-bind="channel_ctr.screen_name"></span>
    </header>


    <div class="inner" ng-class="{'disabledChannel':channel.disabled}">
      <div class="fakeOverlay" ng-class="{'active':channel.inprogress}"></div>

      <!-- FACEBOOK -->
      <div ng-if="channel_ctr.network === 'fb'">
        <textarea class="form-control" autosize-textarea ng-model="channel.text"></textarea>

        <!--<div source-link="channel.link"></div>-->

        <div class="selectAttachments" ng-hide="channel_ctr.attachmentsLimitReached('fb')">
          <span class="addAttach" ng-click="channel_ctr.attachItem('image')">
            <i class="fa fa-picture-o"></i><span>изображение</span>
          </span>
        </div>
 
        <div class="attachesArea" select-crop-area selected-attachments="channel_ctr.selectedAttachments" processing-attachments="channel_ctr.processingAttachments" attachments="channel.attachments" main-mode="true"></div>
      </div>

      <!-- OK -->
      <div ng-if="channel_ctr.network === 'ok'">
        <textarea class="form-control" autosize-textarea ng-model="channel.text"></textarea>

        <!--<div source-link="channel.link"></div>-->

        <div class="selectAttachments" ng-hide="channel_ctr.attachmentsLimitReached('ok')">
          <span class="addAttach" ng-click="channel_ctr.attachItem('image')">
            <i class="fa fa-picture-o"></i><span>изображение</span>
          </span>
        </div>

        <div class="attachesArea" select-crop-area selected-attachments="channel_ctr.selectedAttachments" processing-attachments="channel_ctr.processingAttachments" attachments="channel.attachments" main-mode="true"></div>
      </div>

      <!-- VK -->
      <div ng-if="channel_ctr.network === 'vk'">
        <textarea class="form-control" autosize-textarea ng-model="channel.text"></textarea>

        <div class="selectAttachments" ng-hide="channel_ctr.attachmentsLimitReached('vk')">
          <span class="addAttach" ng-click="channel_ctr.attachItem('image')">
            <i class="fa fa-picture-o"></i><span>изображение</span>
          </span>
          <span class="addAttach ng-hide" ng-click="channel_ctr.attachItem('video')">
            <i class="fa fa-film"></i><span>видеозапись</span>
          </span>
          <span class="addAttach ng-hide" ng-click="channel_ctr.attachItem('poll')">
            <i class="fa fa-bar-chart"></i><span>опрос</span>
          </span>
        </div>

        <div class="attachesArea" select-crop-area selected-attachments="channel_ctr.selectedAttachments" processing-attachments="channel_ctr.processingAttachments" attachments="channel.attachments" main-mode="true"></div>
      </div>

      <!-- TWITTER -->
      <div ng-if="channel_ctr.network === 'tw'">

        <div textarea-validator max-length="channel_ctr.getMaxTextLength(channel.network, channel.attachments, channel.text)" channel-info="channel" show-counter="true"></div>

        <div class="selectAttachments" ng-hide="channel_ctr.attachmentsLimitReached('tw')">

          <span class="addAttach" ng-click="channel_ctr.attachItem('image')">
            <i class="fa fa-picture-o"></i><span>изображение</span>
          </span>
        </div>
        <div class="attachesArea" select-crop-area selected-attachments="channel_ctr.selectedAttachments" processing-attachments="channel_ctr.processingAttachments" attachments="channel.attachments" main-mode="true"></div>
      </div>

      <!-- INSTAGRAM -->
      <div ng-if="channel_ctr.network === 'ig'">

        <div textarea-validator max-length="channel_ctr.getMaxTextLength(channel.network, channel.attachments, channel.text)" model="channel.text" show-counter="true"></div>

        <div class="selectAttachments" ng-hide="channel_ctr.attachmentsLimitReached('ig')">
          <span class="addAttach" ng-click="channel_ctr.attachItem('image')">
            <i class="fa fa-picture-o"></i><span>изображение</span>
          </span>
        </div>
        <!--<div instagram-area="channel_ctr.attachments[0]"></div>-->
        <div class="attachesArea" select-crop-area selected-attachments="channel_ctr.selectedAttachments" processing-attachments="channel_ctr.processingAttachments" attachments="channel.attachments" main-mode="true"></div>
      </div>
    </div>
  </div>
  <div class="completeArea">
    Публикация в <strong ng-bind="channel_ctr.screen_name"></strong> завершилась успехом.
    <br>
    <br><small>Ссылка для просмотра:<br>
    <a target="_blank" class="link" ng-href="{{channel.post_url}}" ng-bind="channel.post_url"></a>&nbsp;<i class="fa fa-external-link"></i>
    </small>
  </div>
  <div class="failArea">
    Публикация в <strong ng-bind="channel_ctr.screen_name"></strong> не удалась.
    <br>
    <br>Причина:&nbsp;<strong ng-bind="channel_ctr.getFailDescription()"></strong>
    <div class="buttons">
      <button class="btn btn-primary" ng-click="channel_ctr.postInChannelAgain()">Попробовать еще раз</button>
      <button class="btn btn-default" ng-click="channel_ctr.editPost()">Изменить запись</button>
    </div>
  </div>
</div>
