<div class="channel socialBg" data-network="{{channel_ctr.network}}" ng-class="{'complete': channel_ctr.isComplete(), 'fail': channel_ctr.isFail(), 'inprogress':channel_ctr.showProgress(channel)}" ng-ifs="channel.separately || channel_ctr.textOverflow()">
  <div class="workArea">

    <div class="inner" ng-class="{'disabledChannel':channel.disabled}">
      <div class="avatar" ng-class="{'not':!channel.img}" ng-click="channel_ctr.toggleChannel()">
        <div class="photoavatar" ng-class="{'background-size':'url('+channel.img+')'}"></div>
        <div class="bulka social_bg deep" data-network="{{channel.network}}">
          <span class="vk" ng-if="channel.network === 'vk'"><i class="fa fa-vk"></i></span>
          <span class="fb" ng-if="channel.network === 'fb'"><i class="fa fa-facebook"></i></span>
          <span class="tw" ng-if="channel.network === 'tw'"><i class="fa fa-twitter"></i></span>
          <span class="gp" ng-if="channel.network === 'gp'"><i class="fa fa-google-plus"></i></span>
          <span class="ok" ng-if="channel.network === 'ok'"><i class="fa fa-ok"></i></span>
        </div>
        <div class="title" ng-bind="channel.screen_name">
        </div>
      </div>
      <div class="fakeOverlay" ng-if="channel.inprogress">
        <i class="ion-radio-waves fa-spin"></i>
      </div>

      <!-- FACEBOOK -->
      <div ng-if="channel.network === 'fb'">
        <textarea class="form-control" autosize-textarea ng-model="channel.text"></textarea>
      </div>

      <!-- OK -->
      <div ng-if="channel.network === 'ok'">
        <textarea class="form-control" autosize-textarea ng-model="channel.text"></textarea>
      </div>

      <!-- VK -->
      <div ng-if="channel.network === 'vk'">
        <textarea class="form-control" autosize-textarea ng-model="channel.text"></textarea>
      </div>

      <!-- TWITTER -->
      <div ng-if="channel.network === 'tw'">
        <div textarea-validator image="image" channel-info="channel" show-counter="true"></div>
      </div>

    </div>
  </div>
  <div class="completeArea">
    Публикация в <strong ng-bind="channel.screen_name"></strong> завершена.
    <br>
    <br><small>Ссылка для просмотра:<br>
    <a target="_blank" class="link" ng-href="{{channel.post_url}}" ng-bind="channel.post_url"></a>&nbsp;<i class="fa fa-external-link"></i>
    </small>
  </div>
  <div class="failArea">
    Публикация в <strong ng-bind="channel.screen_name"></strong> не удалась.

    <br>Причина:&nbsp;<strong ng-bind="channel_ctr.getFailDescription()"></strong>
    <div class="buttons">
      <button class="btn btn-primary" ng-click="channel_ctr.postInChannelAgain()">Попробовать еще раз</button>
      <button class="btn btn-default" ng-click="channel_ctr.editPost()">Изменить запись</button>
    </div>
  </div>
</div>
