<div class="text-center photobankSearch">
  <form class="mb10" ng-submit="pbctr.search(pbctr.q)">
    <div class="relative fsSearchBlock">
      <i class="fa fa-search"></i>
      <input autofocus="autofocus" class="form-control search" type="text" ng-model="pbctr.q" placeholder="spa или борщ">
      <div class="btn btn-link pointer info" popover-placement="left" popover-trigger="click" popover-html-unsafe="{{pbctr.aboutSearchText}}" popover-append-to-body="true">что это?</div>
      <!--<div class="input-group-addon btn btn-default" ng-click="pbctr.search(pbctr.q)">поиск</div>-->
    </div>
    <input type="submit" class="gogoleft">
  </form>

  <div select-area selected-attachments="ctr.selectedAttachments" attachments="pbctr.attachments" on-attach-click="ctr.sendAttach(attach)"></div>
</div>
