<div class="attaches clearfix">
  <div class="attach" ng-repeat="attach in attachments" ng-class="{selected: ctr.attachIsSelected(attach)}">
    <div class="process">
      <i class="ion-load-c fa-spin"></i>
    </div>
    <div class="image" ng-click="ctr.onAttachClick(attach)" ng-style="{'background-image':'url('+attach.src+')'}">
    </div>
    <div class="lower" ng-click="ctr.remove(attach)"></div>
    <div class="actions">
      <div class="check lay" ng-click="ctr.toggle(attach)">
        <i class="ion-checkmark-round"></i>
      </div>
    </div>

    <div class="info">
      <span tooltip-placement="left" tooltip="Видимый размер изображения">
              {{attach.clientWidth}}x{{attach.clientHeight}} 
            </span>
      <span class="gray" ng-if="ctr.showRealImageSize(attach)" tooltip-placement="left" tooltip="Оригинальный резмер изображения">
              ({{attach.width}}x{{attach.height}})
            </span>
    </div>
  </div>

  <div class="noResults" ng-bind="ctr.noAttachesText" ng-show="!attachments.length"></div>
</div>
