html, body {
  height: 100%;
  min-height: 100%;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background: #ddd;
}
::-webkit-scrollbar-thumb {
  background: #222;
  position: relative;
  -webkit-transition: background 0.2s;
}
::-webkit-scrollbar-thumb:before {
  position: absolute;
  left: 3px;
  top: 50%;
  border: 5px solid transparent;
  border-right: 5px solid #999;
  content: ' ';
  width: 1px;
  height: 1px;
}
body {
  font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans';
  font-weight: 300;
  background-color: transparent;
  font-size: 12px;
  &:before {
    content: '';
    height: 1px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #4F73AB;
    z-index: 2000;
    opacity: 0;
    transition: 0.4s;
  }
  &.loaded {
    .filterArea {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
  }
  &.min:before {
    opacity: 1;
  }
}
a {
  color: #fff;
  &:hover {
    color: #f90;
  }
}
.gray {
  color: @grayColor;
}
.link {
  text-decoration: none;
  border-bottom: 1px solid;
  transition: @fastTime;
}
.link:hover {
  text-decoration: none;
  border-color: transparent;
}
.link.no-border {
  border-color: transparent;
}
.whiteLink {
  color: #fff!important;
  border: none!important;
  text-decoration: none!important;
  cursor: default!important;
}
.layerFs {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  #fountainG {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -36px 0 0 -60px;
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .info {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 14px;
    color: #567CA4;
    font-weight: bold;
    .gray {
      display: block;
      font-size: 10px;
      font-weight: normal;
    }
  }
}
.filterArea {
  background: #fff url(../images/bg/wood.jpg) center no-repeat;
  z-index: 2;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  padding: 120px 0;
  transform: translateY(100px);
  transition: 0.4s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &.blur {
    -webkit-filter: blur(3px) grayscale(1);
    opacity: 0.4;
  }
  .resizer, .remover {
    opacity: 0.4;
    transition: 0.2s;
    color: #fff;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  .resizer {
    position: absolute;
    width: 40px;
    margin-left: -20px;
    top: 15px;
    left: 50%;
    text-align: center;
    font-size: 18px;
  }
  .remover {
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 20px;
  }
  .setSelecterArea {
    position: absolute;
    color: #A39090;
    top: 57px;
    left: 20px;
    .sharePhrase {
      position: relative;
      top: 2px;
    }
    .fromApp {
      display: inline-block;
      position: relative;
      top: 1px;
      transition: 0.4s;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-15px);
      &.active {
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
      }
      .sharePhrase {
        color: #AAA;
        margin-left: 11px;
        font-size: 10px;
        top: 0px;
      }
      img {
        height: 25px;
        position: relative;
        top: -1px;
      }
      .title {
        font-size: 10px;
        font-weight: bold;
        position: relative;
        top: 0px;
        color: #666;
      }
    }
  }
}
body.min {
  .filterArea {
    /*background-color: rgba(250, 250, 255, 0.94);*/
    
    .resizer {
      color: #4F73AB;
    }
  }
}
.centered {
  margin: auto;
  width: 960px;
}
.window {
  padding-bottom: 300px;
  h2 {
    font-size: 17px;
    margin: 45px 0 10px;
  }
  h3 {
    margin: 20px 0 5px;
    font-size: 12px;
  }
}
.jcrop-hline {
  background: #ffffff url("../images/Jcrop.gif");
}
.fancybox-wrap {
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
  transform: scale(0.9);
  &.showed {
    opacity: 1;
    transform: scale(1);
  }
}
.gogoleft {
  position: absolute;
  left: -9999px;
}
.relative {
  position: relative;
}
.attaches {
  margin: -5px -5px 0;
  .attach {
    float: left;
    width: 132px;
    height: 132px;
    margin: 5px;
    position: relative;
    transition: 0.2s;
    background: #000;
    cursor: pointer;
    &.processing {
      .process {
        opacity: 1;
        visibility: visible;
      }
    }
    .process {
      opacity: 0;
      position: absolute;
      font-size: 22px;
      left: 0;
      right: 0;
      text-align: center;
      top: 0;
      bottom: 0;
      line-height: 132px;
      visibility: hidden;
      transition: 0.2s;
      z-index: 6;
      background-color: rgba(255, 255, 255, 0.8);
    }
    .image {
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .lower {
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: 0.3s;
      visibility: hidden;
      opacity: 0;
    }
    .actions {
      opacity: 0;
      visibility: hidden;
      transition: 0.2s;
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      right: 0;
      top: 0;
      width: 24px;
      height: 24px;
      z-index: 3;
      .lay {
        color: #eee;
        transition: 0.2s;
        left: 0;
        bottom: 0;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        line-height: 24px;
        transition: 0.2s;
        opacity: 0.5;
        font-size: 15px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .info {
      position: absolute;
      bottom: 0px;
      right: 0px;
      left: 0px;
      color: #EEE;
      font-size: 8px;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 2px 5px;
      transition: 0.2s;
      z-index: 5;
      opacity: 0.8;
      .gray {
        color: #aaa;
      }
    }
    &.selected {
      .lower {
        opacity: 0.8;
        visibility: visible;
      }
      .actions {
        opacity: 1;
        visibility: visible;
        background-color: transparent;
        .lay {
          opacity: 1;
        }
      }
    }
    &:hover {
      .actions {
        opacity: 1;
        visibility: visible;
      }
      .playButton {
        opacity: 1;
      }
    }
    .playButton {
      position: absolute;
      left: 0px;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      line-height: 132px;
      font-size: 49px;
      text-align: center;
      color: #FFF;
      opacity: 0.8;
      transition: 0.2s;
      text-shadow: 0px 2px 7px #000;
    }
    &[data-type="poll"] {
      float: none!important;
      clear: both;
      width: 100%!important;
      height: auto!important;
      background: rgba(0, 0, 0, 0)!important;
      cursor: default;
      padding-top: 1px;
    }
  }
}
.pointer {
  cursor: pointer;
}
.popover {
  max-width: 400px;
  font-size: 12px;
}
.content {
  width: 577px;
}
.mb10 {
  margin-bottom: 10px;
}
.mt20 {
  margin-top: 20px;
}
.groupSelect {
  font-size: 12px;
  .select2-container .select2-choice {
    border-radius: 0px;
    background: none;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #444;
    box-shadow: none!important;
    height: 33px;
    line-height: 33px;
    font-size: 12px;
    color: #EEE;
    .select2-arrow {
      border: none;
      background: rgba(0, 0, 0, 0);
      font-family: FontAwesome;
      width: 100%;
      text-align: right;
      padding-right: 10px;
      cursor: pointer;
      b {
        &:after {
          content: "\f107";
        }
      }
    }
  }
  .select2-search {
    input {
      border: none;
      background: #333;
      margin: 0px -9px;
      width: 298px;
      display: block;
      padding: 0 10px;
      line-height: 33px;
    }
  }
}
.select2-results {
  padding: 0 0 0 0px;
  margin: 0px 0px 0px 0;
  .select2-highlighted {
    background: @colorPrimary;
    color: #FFF;
  }
}
.select2-drop-active {
  background-color: rgba(0, 0, 0, 0.85);
  border: 1px solid #444;
  border-radius: 0px;
  color: #ccc;
}
.select2 {
  min-width: 300px;
  .select2-search {
    padding-left: 9px;
    padding-right: 9px;
  }
}
.ui-select-choices-row {
  position: relative;
  padding: 5px 0px;
}
.name {
  display: inline-block;
  margin-left: 2px;
  margin-top: 0px;
  font-size: 12px;
}
.count {
  float: right;
  opacity: 0.6;
}
.uploadImage {
  float: right;
  position: relative;
  top: 0px;
  margin: 0!important;
}
.controls-list {
  label {
    display: block;
    position: relative;
    cursor: pointer;
  }
  input {
    width: 1px;
    height: 1px;
    visibility: hidden;
    opacity: 0;
  }
  input:checked + span:after {
    opacity: 1;
  }
  span {
    display: inline-block;
    margin-left: 20px;
    font-weight: normal;
    font-size: 12px;
    color: #555;
  }
  span:before {
    width: 14px;
    height: 14px;
    left: 4px;
    top: 2px;
    content: '';
    position: absolute;
    display: block;
    background-color: #FFF;
    border: 1px solid #C3CBD4;
  }
  span:after {
    width: 8px;
    height: 8px;
    left: 7px;
    top: 4px;
    background: #358CE0;
    opacity: 0;
    transition: 0.2s;
    content: '';
    position: absolute;
    display: block;
  }
  &.radioList span:after, &.radioList span:before {
    border-radius: 50%;
  }
  &.checkboxList span:after {
    font-family: FontAwesome;
    content: "\f00c";
    background: rgba(0, 0, 0, 0);
    top: 2px;
    left: 6px;
    font-size: 11px;
    color: #567CA4;
  }
  &.dark {
    span {
      color: #ccc;
      &:before {
        background-color: #111;
        border: 1px solid #444;
      }
      &:after {
        background: transparent;
      }
    }
    &.checkboxList span:after {
      color: #aaa;
    }
  }
}
.noResults {
  padding: 40px;
  text-align: center;
  color: #888;
}
.fancybox-overlay {
  background: none;
  background-color: rgba(0, 0, 0, 0.8);
}
.fancybox-skin {
  border-radius: 0px;
}
.fsSearchBlock {
  margin: -21px -20px 19px;
  .fa-search {
    position: absolute;
    top: 13px;
    z-index: 4;
    color: #E0D8D8;
    left: 20px;
    font-size: 16px;
  }
  .search {
    width: 100%!important;
    padding-left: 45px;
    display: block;
    height: 40px;
    line-height: 40px;
    border: 0px;
    border-bottom: 1px solid #EEE;
    border-top: 1px solid #EEE;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    background: #FCFCFC;
  }
  .info {
    position: absolute;
    padding-right: 0px;
    right: 20px;
    z-index: 22;
    top: 7px;
    font-size: 10px;
  }
}
.lineLoader {
  position: absolute;
  opacity: 0;
  transition: 0.2s;
  overflow: hidden;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px;
  font-size: 16px;
  transform: translateY(-10px);
  &.active {
    position: relative;
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.v_channels {
  overflow: hidden;
  .channelsList {
    overflow: auto;
     padding: 0 20px;
  }
}
.bottomFooter {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 0;
  color: #EEE;
  transition: 0.5s;
  transform: translateY(120px);
  border-top: 1px solid #000;
  z-index: 3;
  .controls-list {
    display: inline-block;
    margin-right: 26px;
    position: relative;
    top: 1px;
    label {
      display: inline-block;
    }
  }
  &.active {
    transform: translateY(0px);
  }
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  height: 10px;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 10px;
  margin: 6px 0;
}
.mCSB_scrollTools{
  right: 20px!important;
  left: 19px!important;
}
