html, body {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans';
  font-weight: 300;
  background-color: transparent;
  &.loaded {
    .window {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
  }
}
a {
  color: #fff;
  &:hover {
    color: #f90;
  }
}
.gray {
  color: @grayColor;
}
.link {
  text-decoration: none;
  border-bottom: 1px solid;
  transition: @fastTime;
}
.link:hover {
  text-decoration: none;
  border-color: transparent;
}
.link.no-border {
  border-color: transparent;
}
.whiteLink {
  color: #fff!important;
  border: none!important;
  text-decoration: none!important;
  cursor: default!important;
}
.window {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: 0.2s;
  width: 752px;
  margin: 40px auto;
  background: #f9f9f9;
  border-radius: 2px;
  box-shadow: 0px 0px 10px #000;
  .body {
    padding: 20px;
    .postArea {
      width: 577px;
      padding: 10px;
      border: 1px solid #DDD;
      background: #FFF;
      height: 120px;
      font-size: 12px;
      word-wrap: break-word;
      line-height: 18px;
      outline: none;
    }
    .separator {
      height: 1px solid #eee;
      clear: both;
      padding: 10px 0;
    }
  }
}
.jcrop-hline {
  background: #ffffff url("../images/Jcrop.gif");
}
.fancybox-wrap {
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
  transform: scale(0.9);
  &.showed {
    opacity: 1;
    transform: scale(1);
  }
}
.gogoleft {
  position: absolute;
  left: -9999px;
}
.attaches {
  margin: 0 -7px;
  .attach {
    float: left;
    width: 131px;
    height: 131px;
    margin: 7px;
    position: relative;
    transition: 0.2s;
    box-shadow: 0px 0px 0px 1px #CCC;
    background: #DDD;
    &.processing {
      .process {
        opacity: 1;
        visibility: visible;
      }
    }
    .process {
      opacity: 0;
      position: absolute;
      font-size: 30px;
      left: 0;
      right: 0;
      text-align: center;
      top: 0;
      bottom: 0;
      line-height: 132px;
      visibility: hidden;
      transition: 0.2s;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.8);
    }
    .image {
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      width: 100%;
      height: 100%;
      .actions {
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
        background-color: rgba(255, 255, 255, 0.7);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
        .remove, .check {
          transiiton: 0.2s;
        }
        .remove {
          opacity: 0;
          visibility: hidden;
          margin-left: 0px;
        }
        .check {
          opacity: 1;
          visibility: visible;
        }
        .main {
          position: absolute;
          left: 50%;
          top: 50%;
          font-size: 28px;
          margin: -20px 0 0 -20px;
          text-shadow: 0px 0px 1px #FFF;
          background: rgba(255, 255, 255, 0.8);
          height: 40px;
          width: 40px;
          border-radius: 50%;
          box-shadow: 0px 0px 3px #222;
          text-align: center;
          i {
            position: absolute;
            left: 0;
            right: 0;
            top: 7px;
          }
        }
      }
      &:hover {
        .actions {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .additional {
      position: absolute;
      bottom: 0px;
      left: 0px;
      cursor: pointer;
      transition: 0.2s;
      background: rgba(0, 0, 0, 0.5);
      color: #EEE;
      padding: 0 3px;
      font-size: 13px;
    }
    .info {
      position: absolute;
      bottom: 0px;
      right: 0px;
      color: #EEE;
      font-size: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 2px 5px;
      transition: 0.2s;
      .gray {
        color: #aaa;
      }
    }
    &.selected {
      box-shadow: 0px 0px 0px 5px #99f;
      .actions {
        opacity: 1;
        visibility: visible;
        background-color: rgba(255, 255, 255, 0.3);
        .check {
          opacity: 0;
          visibility: hidden;
        }
        .remove {
          opacity: 1;
          visibility: visible;
        }
      }
      .additional, .info {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.pointer{
  cursor: pointer;
}

.popover{
  max-width: 400px;
  font-size:12px;
}