.btn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  transition: 0.2s;
  padding: 0px 20px;
  outline: none!important;
  border-radius: 0px;
  border: 2px solid;
  font-size: 13px;
  line-height: 29px;
  cursor: pointer;
  &.btn-primary {
    color: #eee;
    background-color: @colorPrimary;
    border-color: @colorPrimary;
    -webkit-font-smoothing: subpixel-antialiased;
    &:hover {
      background-color: #2980B9;
      border-color: #2980B9;
    }
  }
  &.btn-success {
    color: #eee;
    background-color: @colorSuccess;
    border-color: @colorSuccess;
    -webkit-font-smoothing: subpixel-antialiased;
    span {
      transition: 0.3s;
      transform: scale(1);
      display: inline-block;
      text-shadow: 0px 0px transparent;
    }
    &:hover {
      background-color: #2ECC71;
      border-color: #2ECC71;
    }
  }
  &.btn-link {
    height: 31px;
    color: #45688E;
    text-decoration: none;
    border-color: transparent;
    &:hover {
      color: #000;
      cursor: pointer;
    }
  }
}
.form-control {
  border-radius: 0px;
  border: 1px solid #C3CBD4;
  background: #FFF;
  box-shadow: none!important;
  height: 31px;
  font-size: 12px;
}
select.form-control {
  -webkit-appearance: none;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0);
  height: 25px;
  padding: 3px 19px 3px 7px;
}
.dark {
  .form-control {
    border: 1px solid #444;
    background-color: #111;
    color: #bbb;
  }
}
.selectWrapper {
  position: relative;
  overflow: auto;
  display: inline-block;
  &:before {
    position: absolute;
    right: 6px;
    top: 3px;
    content: "\f107";
    font-family: FontAwesome;
    z-index: 2;
    color: #CCC;
    font-size: 14px;
  }
}
.social_bg {
  color: #fff;
  &[data-network="vk"] {
    background-color: rgba(67, 102, 138, 0.12);
    &.deep {
      background-color: rgba(67, 102, 138, 1);
    }
  }
  &[data-network="fb"] {
    background-color: rgba(67, 69, 95, 0.11);
    &.deep {
      background-color: #3B5998;
    }
  }
  &[data-network="ig"] {
    background-color: rgba(139, 92, 52, 0.11);
    &.deep {
      background-color: rgba(139, 92, 52, 1);
    }
  }
  &[data-network="tw"] {
    background-color: rgba(29, 172, 237, 0.11);
    &.deep {
      background-color: rgba(29, 172, 237, 1);
    }
  }
  &[data-network="gp"] {
    background-color: #000;
  }
  &[data-network="ok"] {
    background-color: #F2952A;
  }
}
.shepherd-element.shepherd-theme-arrows {
  z-index: 2;
  .shepherd-content {
    filter: none;
    -webkit-filter: none;
    background: #353535;
    color: #EEE;
    width: 400px;
    border-radius: 0px;
    padding: 10px;
    footer .shepherd-buttons li .shepherd-button {
      text-decoration: none;
      &:hover {
        background-color: #56ABFF;
      }
    }
  }
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-top.shepherd-element-attached-center .shepherd-content:before {
  border-bottom-color: #353535;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-bottom.shepherd-element-attached-center .shepherd-content:before {
  border-top-color: #353535;
}
.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-left.shepherd-element-attached-middle .shepherd-content:before {
  border-right-color: #353535;
}
.tourFader {
  transition: 0.3s;
}
.shepherd-active {
  .tourFader {
    opacity: 0.3;
    &.shepherd-enabled {
      opacity: 1;
    }
  }
}
[data-shepherd-step="changeChannelVisibility"] {
  .tourFader[data-step="channel"]:first-child {
    opacity: 1; 
  }
}
