.modal {
  background: rgba(0, 0, 0, 0.7);
  transform: translate3d(0, 0, 0);
  .modal-content {
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .modal-dialog {
    margin: 15px auto;
  }
  .nav-tabs>li {
    margin: 0;
  }
  .nav-tabs>li>a:hover, .uploadImage:hover {
    background-color: #F5F7FA;
    cursor: pointer;
    border-color: transparent;
  }
  .nav-tabs>li.active>a {
    border: none;
    color: #597BA5;
    border-bottom: 2px solid #597BA5;
  }
  .up-level-tabs .nav-tabs {
    position: relative;
    top: 1px;
    padding: 0px 0px 0px;
    background: #FFF;
    margin: -22px -20px 1px;
    border-bottom: 1px solid #F2F2F2;
  }
  .nav-tabs a, .uploadImage {
    color: #45688E;
    font-size: 12px;
    -webkit-font-smoothing: subpixel-antialiased;
    padding: 10px 20px 8px;
    border: 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    margin: 0;
    font-weight: normal;
  }
  .bodyWithTabs {
    padding-top: 20px;
  }
}
.modal-header {
  border-bottom: 1px solid #000;
  color: #FFF;
  background: #424242;
  font-weight: bold;
  padding: 17px 20px 18px;
  h3 {
    font-size: 14px;
    margin: 0;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
.modal-body {
  padding: 20px;
  background: #fff;
}
.modal-footer {
  text-align: center;
  background: #FAFAFA;
  background: rgba(250, 250, 250, 0.95);
  border-top: 1px solid #EEE;
  padding: 16px 20px;
  width: 100%;
  bottom: 0px;
  z-index: 20;
}
.fixRight {
  position: absolute;
  right: 0;
}
.modal.in.fade .modal-dialog {
  transform: translate(0, 0) scale(1);
}
.modal.fade .modal-dialog {
  transform: translate(0, 0) scale(0.95);
}
