@colorPrimary: #3498DB;
@colorSuccess: #00AA32;
@grayColor: #999; 



/* dark theme */
@primaryDark: #2C3E50; /* цвет основного фона */
@primaryLight: #ECF0F1;

@secondaryLight: #C3DAE4;

@textColor: #222;
@additionalColor_light: #eee;
@additionalColor_light2: #ddd;
@additionalColor_light3: #f5f5f5;
@additionalColor_dark: #222;

@linkColor: #009EE0;

@vkColor: #43668a;
@fbColor: #3b5998;
@okColor: #f2952a;
@twColor: #1daced;
@gpColor: #bc3418;
@igColor: #8B5C34;
 


    
/*@import url('vendor/ionicons/ionicons.less');  */
@import url('controls.less');  
@import url('modals.less');  
@import url('common.less');  
@import url('loaders.less');  
@import url('views/login.less');  
@import url('directives/socialTemplateEditor.less');  
@import url('directives/instagramArea.less');  
@import url('directives/textareaValidator.less');  
@import url('directives/channel.less');  
@import url('directives/photobankSearch.less');  
@import url('directives/timeSelect.less');  
@import url('directives/videoCover.less');  
@import url('directives/dateButton.less');  
@import url('directives/jcropArea.less');  
@import url('directives/selectDate.less');  
@import url('directives/attachPoll.less');  
@import url('elements/calendar.less');  
@import url('modals/attachPhoto.less');  
@import url('modals/attachVideo.less');  
@import url('other/highcharts.less');  


@import url('pages/afterAuth.less');  
 