<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/pack/vendors.css" />
  <link rel="stylesheet" type="text/css" href="/pack/styles.css" />
  <title></title>
</head>

<body data-ng-app="App" data-ng-controller="C_main as ctr" data-ng-class="{'loaded': ctr.showExtension(), 'min':ctr.minState, 'pushed':ctr.isPushed()}">

  <div class="blocking" ng-show="ctr.showBlock">

  </div>

  <div class="successSing" ng-if="ctr.showSing">
    <div class="sing">
      <div class="ring"></div>
      <i class="ion-ios-checkmark-empty"></i>
    </div>
  </div>


  <header class="top">
    <div class="resizer tourFader" data-step="resizer" ng-click="ctr.resizeIframe()">
      <i class="arrow ion-arrow-down-b"></i>
    </div>

    <div class="remover tourFader" data-step="remover" ng-click="ctr.closeIframe()" tooltip="закрыть расширение" tooltip-placement="left" tooltip-trigger="mouseenter" tooltip-append-to-body="true" tooltip-popup-delay="300">
      <i class="ion-close-round"></i>
    </div>
  </header>

  <div class="prepareExtensionLoading" ng-if="!ctr.hideLoader">
    <i class="ion-load-c fa-spin"></i>
  </div>

  <div class="leftMenu">
    <h2>Настройки расширения</h2>

    <section social-template-editor></section>
  </div>

  <div class="translateArea ">


    <div class="fakePushOverlay" ng-click="ctr.toggleMenu()"></div>
    <section ng-if="ctr._state === 'post'" ng-controller="C_posting as post_ctr">



      <section class="window" ng-class="{'publishing': post_ctr.showPostProcessingLayer()}">

        <ul class="topMenu left">
          <li class="tourFader" ng-click="ctr.toggleMenu()" data-step="settings">
            <i class="ion-ios-settings-strong"></i><span>Настройки</span>
          </li>
          <li class="tourFader" ng-click="ctr.emptyChannels()" data-step="newPost" ng-show="post_ctr.channels.length">
            <i class="ion-compose"></i><span>Новый пост</span>
          </li>
        </ul>

        <ul class="topMenu right">
          <a href="https://10hands.io/cabinet/account/plan/" target="_blank" class="tourFader paidEnd" ng-show="ctr.paidUntilStr" tooltip="{{ctr.paidUntilStr}}" tooltip-placement="bottom" tooltip-trigger="mouseenter" tooltip-append-to-body="true" tooltip-animation="false"> 
            Продлить подписку
          </a>
          <li class="tourFader" ng-click="ctr.openTour()">
            <i class="ion-help-buoy"></i><span>Тур</span>
          </li>
        </ul>

        <section class="setSelecterArea" ng-if="post_ctr.showSetSelect()">




          <span class="sharePhrase tourFader">Поделиться записью в</span>
          <span class="groupSelect tourFader" data-step="shareSetName">
          <ui-select ng-model="post_ctr.selectedSet" theme="select2">
            <ui-select-match placeholder="Выбери набор, в который нужно разместить запись" ng-bind="$select.selected.name"></ui-select-match>
            <ui-select-choices repeat="set in post_ctr.sets | findGroups: {name: $select.search}">
              <span class="name" ng-bind-html="set.name | highlight: $select.search"></span>
          <span class="count">
                <span ng-pluralize count="post_ctr.getChannelsCount(set.feed_ids)" when="post_ctr.channelsPlural">
                </span>
          </span>
          </ui-select-choices>
          </ui-select>
          </span>
        </section>
        <section class="v_channels">

          <div ng-if="!post_ctr.channelsIsLoaded || post_ctr.channels.length" one-channel channels="post_ctr.channels" image="post_ctr.image" page-data="post_ctr.data" post-channel-again="post_ctr.createPost(channel_id)"></div>



          <div class="noChannels" ng-if="post_ctr.channelsIsLoaded && !post_ctr.channels.length">
            В наборе <strong ng-bind="post_ctr.selectedSet.name"></strong> еще нет каналов. Публикация невозможна
          </div>
        </section>


      </section>

      <footer class="slidingFooter" ng-show="post_ctr.showFooter()" ng-class="{'planned': !post_ctr.postingNow, 'publishing': post_ctr.showPostProcessingLayer()}">
        <section class="disableLayer"></section>

        <div class="finally centered clearfix " ng-if="post_ctr.allPostsComplete">
          <div ng-show="post_ctr.postingNow">
            Все записи размещены успешно. Теперь можно <a class="link" ng-click="post_ctr.return()">вернуться к редактору</a> или <a class="link" ng-click="ctr.closeIframe()">закрыть расширение</a>
          </div>
          <div ng-show="!post_ctr.postingNow">
            Записи запланированы на <strong ng-bind="post_ctr.postingDate | date : 'medium'"></strong>. Теперь можно <a class="link" ng-click="post_ctr.return()">вернуться к редактору</a> или <a class="link" ng-click="ctr.closeIframe()">закрыть расширение</a>
          </div>
        </div>

        <div class="centered clearfix sendPanel" ng-if="!post_ctr.allPostsComplete" ng-class="{'active':!post_ctr.showPostProcessingLayer()}">

          <div class="final pull-right">
            <div class="checkboxList controls-list tourFader" data-step="closeAfterPosting">
              <label>
                <input type="checkbox" ng-model="post_ctr.closeAfterSuccess">
                <span>Закрыть после публикации</span>
              </label>
            </div>


            <button type="button" data-step="publicButton" class="btn btn-success sendButton tourFader" ng-disabled="post_ctr.paidIsEnd || post_ctr.processingAttachments.length || !post_ctr.canPost()" ng-click="post_ctr.createPost()">
              <span class="publicWord">Опубликовать</span>
              <span class="planWord">Запланировать</span>
              <div class="progress-bars">
                <span class="ion-load-c loader fa-spin"></span>
              </div>
            </button>
          </div>


          <section class="postingTimerArea pull-left">
            <div class="radioList controls-list">
              <div class="tourFader ib">Разместить</div>

              <label data-step="publicNow" class="tourFader">
                <input type="radio" ng-model="post_ctr.postingNow" ng-value="true">
                <span>Сейчас</span>
              </label>

              <label data-step="publicLater" class="tourFader">
                <input type="radio" ng-model="post_ctr.postingNow" ng-value="false">
                <span>Выбрать время</span>
              </label>
              <div class="clearfix"></div>
              <a class="tourFader viewCalendar ib link" ng-click="post_ctr.viewTable()">
                Посмотреть расписание
              </a>
            </div>

            <div class="postingTimer tourFader">
              <div class="calendar inline" date-button min-date="post_ctr.minDate" max-date="post_ctr.maxDate" data-model="post_ctr.postingDate" class="picker_inputs"></div>
              <span class="in inline">в</span>
              <div class="timec inline" time-select data-date="post_ctr.postingDate" set-new-time="post_ctr.onTimeChange(time)"></div>
            </div>
          </section>
        </div>
      </footer>
      <!--
      <section class="bottomPanel">
        <div class="panelka text-center">
          <menu>
            <a>Расписание</a>
          </menu>
        </div>
      </section>
      -->
    </section>

    <section ng-if="ctr._state === 'login'" ng-include="'templates/views/login.html'">

    </section>
    
    <section ng-if="ctr._state === 'payment'" ng-include="'templates/views/payment.html'">
      
    </section>

  </div>

  <div half-height class="halfHeight"></div>

  <script type="text/javascript" src="/pack/vendor.js"></script>
  <script type="text/javascript" src="/pack/templates.js"></script>
  <script type="text/javascript" src="/pack/scripts.js"></script>
</body>

</html>
