<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/pack/vendors.css" />
  <link rel="stylesheet" type="text/css" href="/pack/styles.css" />
  <title></title>
</head>

<body data-ng-app="App" data-ng-controller="C_main as ctr" data-ng-class="{'loaded': ctr.dataIsLoaded}">
  <div class="toppanel">

  </div>
  <section class="window">
    <header>
      <span class="sharePhrase">Поделиться в</span>
      <span class="groupSelect">
        <ui-select ng-model="ctr.selectedGroup" theme="select2">
          <ui-select-match placeholder="Выбери группу, в которую нужно разместить запись">
            {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices repeat="group in ctr.groups | findGroups: {name: $select.search}">
            <div class="image" ng-style="{'background-image':'url('+group.photo_50+')'}"></div>
            <div class="name" ng-bind-html="group.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </span>

    </header>
    <section class="body clearfix">

      <textarea class="postArea" ng-model="ctr.text"></textarea>

      <div class="separator"></div>

      <h2>К записи прикреплены:</h2>
      <div class="bg-panel content relative">
        <div class="lastAttachCount">
          <strong ng-bind="ctr.getRemainingAttachesCount()" tooltip-placement="right" tooltip="Ты можешь прикрепить к посту только 9 материалов (фото, опросов, видео и аудио)" tooltip-trigger="mouseenter"><span  ></span></strong>
        </div>
        <div select-area selected-attachments="ctr.selectedAttachments" processing-attachments="ctr.processingAttachments" attachments="ctr.attachments" main-mode="true"></div>
      </div>
      <div class="point content clearfix">
        <label class="pull-right btn btn-primary btn-sm mt20">
          <span>загрузить</span>
          <div class="gogoleft" image-upload-area on-upload-start="ctr.pushUploadingAttach" after-image-uploaded="ctr.afterImageUploaded"></div>
        </label>
        <h2>Изображения</h2>
      </div>
      <div class="point content up-level-tabs">
        <tabset>
          <tab heading="со страницы" active="true">

            <div class="bg-panel">
              <div select-area post-attachments="ctr.attachments" processing-attachments="ctr.processingAttachments" attachments="ctr.pageAttachments"></div>
            </div>
          </tab>
          <tab heading="из фотобанка">
            <div class="bg-panel">
              <div photobank-search></div>
            </div>
          </tab>
          <tab heading="хранилище" title="бу" disabled="true">

          </tab>
        </tabset>
      </div>

      <div>
        <p class="input-group">

          <div class="calendar" select-date data-is-open="ctr.openedDatepickerPopup" min-date="ctr.minDate" max-date="ctr.maxDate" data-model="ctr.postingDate" class="picker_inputs"></div>
          <button class="pick_icon btn btn-primary btn-sm" ng-click="ctr.openDatepicker($event)">выбрать</button>

          <timepicker ng-model="ctr.postingTime" ng-change="ctr.loadTimeLine()" hour-step="1" minute-step="1" show-meridian="false"></timepicker>
        </p>

      </div>
    </section>
    <footer>
      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="ctr.paidIsEnd || ctr.processingAttachments.length" ng-click="ctr.publicPost()">
          отправить <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Отложить</a>
          </li>
        </ul>
      </div>
    </footer>
  </section>


  <script type="text/javascript" src="/pack/vendor.js"></script>
  <script type="text/javascript" src="/pack/templates.js"></script>
  <script type="text/javascript" src="/pack/scripts.js"></script>
</body>

</html>
