<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/pack/vendors.css" />
  <link rel="stylesheet" type="text/css" href="/pack/styles.css" />
  <title></title>
</head>

<body data-ng-app="App" data-ng-controller="C_main as ctr" data-ng-class="{'loaded': ctr.showExtension(), 'min':ctr.minState}">


  <div class="layerFs" ng-class="{'active':ctr.postingProcess}">
    <div class="info">
      Публикуем запись

      <span class="gray">
        еще 
        <span ng-pluralize count="ctr.processingAttachments.length + 1" when="ctr.stepsPlural"></span>
      </span>
    </div>
    <div id="fountainG">
      <div id="fountainG_1" class="fountainG">
      </div>
      <div id="fountainG_2" class="fountainG">
      </div>
      <div id="fountainG_3" class="fountainG">
      </div>
      <div id="fountainG_4" class="fountainG">
      </div>
      <div id="fountainG_5" class="fountainG">
      </div>
      <div id="fountainG_6" class="fountainG">
      </div>
      <div id="fountainG_7" class="fountainG">
      </div>
      <div id="fountainG_8" class="fountainG">
      </div>
    </div>
  </div>
  <div class="filterArea" ng-class="{'blur':ctr.postingProcess}">

    <section ng-show="ctr._state === 'post'" ng-controller="C_posting as post_ctr">

      <div class="resizer" ng-click="post_ctr.resizeIframe()" tooltip="изменить размер окна расширения" tooltip-placement="bottom" tooltip-trigger="mouseenter" tooltip-append-to-body="true" tooltip-popup-delay="300">
        <i class="fa fa-bars"></i>
      </div>

      <div class="remover" ng-click="post_ctr.closeIframe()" tooltip="закрыть расширение" tooltip-placement="left" tooltip-trigger="mouseenter" tooltip-append-to-body="true" tooltip-popup-delay="300">
        <i class="fa fa-times"></i>
      </div>

      <section class="window">
        <header class="centered" ng-show="post_ctr.showSetSelect()">
          <span class="sharePhrase">Поделиться записью в набор</span>
          <span class="groupSelect">
          <ui-select ng-model="post_ctr.selectedSet" theme="select2">
            <ui-select-match placeholder="Выбери набор, в который нужно разместить запись">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="set in post_ctr.sets | findGroups: {name: $select.search}">
              <div class="image" ng-style="{'_background-image':'url('+set.photo_50+')'}"></div>
              <div class="name" ng-bind-html="set.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </span>
          <span class="fromApp" ng-class="{'active':post_ctr.postingApp}">
          <span class="sharePhrase">от приложения</span>
          <img ng-src="{{post_ctr.postingApp.icon_50}}">
          <span class="title" ng-bind="post_ctr.postingApp.title"></span>
          </span>
        </header>


        <section class="v_channels">
          <span channel="channel" ng-repeat="channel in post_ctr.channels" parsed-text="post_ctr.text" page-attachments="post_ctr.pageAttachments" post-channel-again="post_ctr.postChannelAgain(channel.id)"></span>
        </section>


        <footer class="centered">

          <button type="button" class="btn btn-primary" ng-disabled="post_ctr.paidIsEnd || post_ctr.processingAttachments.length" ng-click="post_ctr.createPost()">
            отправить
          </button>

          <div class="checkboxList controls-list">
            <label>
              <input type="checkbox" ng-model="post_ctr.notClose">
              <span tooltip="например, можно запостить то же самое в другую группу" tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="true" tooltip-popup-delay="300">Закрыть после публикации</span>
            </label>
          </div>
        </footer>
      </section>
    </section>

    <section ng-show="ctr._state === 'login'" ng-include="'templates/views/login.html'">

    </section>
  </div>

  <script type="text/javascript" src="/pack/vendor.js"></script>
  <script type="text/javascript" src="/pack/templates.js"></script>
  <script type="text/javascript" src="/pack/scripts.js"></script>
</body>

</html>
