<section class="attachPhoto">
  <div class="modal-header">
    <h3 class="modal-title">Прикрепление фотографии</h3>
  </div>
  <div class="modal-body">
    <div class="up-level-tabs">
      <tabset>
        <tab heading="со страницы" active="true">

          <div class="bodyWithTabs">
            <div select-area selected-attachments="ctr.selectedAttachments" attachments="ctr.pageAttachments" on-attach-click="ctr.sendAttach(attach)" no-attaches-text="Нет подходящих изображений"></div>
          </div>
        </tab>
        <tab heading="из фотобанка">
          <div class="bodyWithTabs">
            <div photobank-search></div>
          </div>
        </tab>

        <label class="uploadImage">
          <span>загрузить с компьютера</span>
          <div class="gogoleft" image-upload-area on-upload-start="ctr.beforeUploading" after-image-uploaded="ctr.afterUploading"></div>
        </label>
      </tabset>

    </div>

  </div>
</section>
