.channel {
  display: block;
  width: 400px;
  margin: 0 0 30px;
  position: relative;
  max-height: 1000px;
  &.inprogress {} .fakeOverlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    position: absolute;
    text-align: center;
    background: rgba(244, 244, 226, 0.52);
    &.ng-enter, &.ng-leave {
      -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
      transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    }
    &.ng-enter, &.ng-leave.ng-leave-active {
      opacity: 0;
    }
    &.ng-leave, &.ng-enter.ng-enter-active {
      opacity: 1;
    }
    i {
      position: absolute;
      top: 5px;
      right: -21px;
      font-size: 17px;
      text-shadow: 0px 3px 1px #FFF;
      color: #4A5F8C;
    }
    &.active {
      display: block;
    }
  }
  .avatar {
    position: absolute;
    left: -105px;
    width: 100px;
    height: 100px;
    cursor:pointer;
    .title {
      margin-top: 60px;
      font-size: 10px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #999;
    }
    .bulka {
      position: absolute;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 18px;
      left: 59px;
      top: 33px;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
      font-size: 12px;
    }
    .photoavatar {
      position: absolute;
      left: 26px;
      right: 0;
      height: 48px;
      width: 48px;
      box-shadow: 0px 0px 0px 1px #EEE!important;
    }
    &.not {
      .photoavatar {
        background: url(../images/noavatar.jpg) center no-repeat;
        background-size: 48px;
      }
    }
  }
  .inner {
    transition: 0.2s;
    position: relative;
    textarea {
      min-height: 100px;
      max-height: 300px;
      padding: 8px 14px;
      border: none;
      resize: none;
      border-radius: 1px;
      box-shadow: 0px 0px 0px 1px #EEE!important;
      &.short {
        min-height: 90px;
      }
    }
    &.disabledChannel {
      opacity: 0.3;
      .fakeOverlay {
        display: block;
      }
    }
  }
  .sourceLink {
    position: relative;
    input {
      border-radius: 0px;
      border-left: 0px;
      border-right: 0px;
      padding: 6px 14px;
      margin-bottom: -1px;
    }
    span {
      position: absolute;
      left: 14px;
      top: 8px;
      pointer-events: none;
      opacity: 0.5;
      font-size: 11px;
    }
  }
  .selectAttachments {
    text-align: left;
    padding: 7px 15px;
    color: #000;
  }
  .addAttach {
    transition: 0.3s;
    opacity: 0.4;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    margin-right: 7px;
    span {
      display: inline-block;
      margin-left: 3px;
    }
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  .failArea, .completeArea {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transition: 0.3s;
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0;
    right: 0;
    padding: 15px;
    color: #555;
    font-size: 12px;
    z-index: 10;
    a {
      color: #000!important;
      text-decoration: none;
      outline: none;
      font-size: 9px;
    }
    i {
      font-size: 10px;
      position: relative;
      top: 2px;
    }
  }
  .completeArea {
    background-color: #E0FFE4;
  }
  .failArea {
    background-color: #FDD;
  }
  &.complete {
    .completeArea {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
      text-decoration: none!important;
    }
  }
  &.fail {
    .failArea {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
      text-decoration: none!important;
    }
  }
  .buttons {
    margin-top: 11px;
    .btn {
      padding: 0 10px;
      font-size: 12px;
      line-height: 20px;
    }
  }
}
