.channel {
  display: block;
  width: 400px;
  margin: 8px;
  float: left;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
  header {
    border-radius: 5px 5px 0 0;
    padding: 10px 15px;
    position: relative;
    .progress-bar {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      transition: 0.4s;
      width: 100%;
      background-color: rgba(0, 0, 0, 0)!important;
      &.showed {
        opacity: 1;
        visibility: visible;
      }
    }
    .screen_name {
      z-index: 3;
      position: relative;
      margin-left: 20px;
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    }
    .socialSign {
      display: inline-block;
      font-size: 16px;
      position: absolute;
      left: 12px;
      top: 8px;
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
      z-index: 2;
      span {
        position: relative;
      }
      .vk {
        top: -1px;
      }
    }
    .actions {
      z-index: 1;
      position: absolute;
      right: 0;
      top: 0;
      .visibility {
        cursor: pointer;
        position: relative;
        width: 24px;
        height: 24px;
        display: inline-block;
        top: 7px;
        right: 7px;
        .fa {
          opacity: 0;
          position: absolute;
          transition: 0.3s;
          font-size: 17px;
          left: 3px;
          top: 4px;
          text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
          &.active {
            opacity: 1;
          }
        }
      }
    }
  }
  .fakeOverlay {
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    position: absolute;
    &.active {
      display: block;
    }
  }
  .inner {
    transition: 0.2s;
    position: relative;
    background-color: #EAEAEA;
    border-radius: 0px 0px 5px 5px;
    textarea {
      min-height: 120px;
      max-height: 300px;
      padding: 8px 14px;
      border: none;
      resize: none;
    }
    &.disabledChannel {
      opacity: 0.5;
      .fakeOverlay {
        display: block;
      }
    }
  }
  .selectAttachments {
    text-align: right;
    padding: 7px 15px;
    color: #000;
    background: #FFF;
  }
  .addAttach {
    transition: 0.3s;
    opacity: 0.4;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    margin-left: 7px;
    span {
      display: inline-block;
      margin-left: 3px;
    }
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  .failArea, .completeArea {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transition: 0.3s;
    position: absolute;
    left: 0;
    top: 37px;
    bottom: 0;
    right: 0;
    padding: 25px;
    color: #555;
    font-size: 13px;
    z-index: 10;
    border-radius: 0px 0px 5px 5px;
    a {
      color: #000!important;
      text-decoration: none;
      outline: none;
    }
  }
  .completeArea {
    background-color: #F2F2F2;
  }
  .failArea {
    background-color: #ffcccc;
  }
  &.complete {
    .completeArea {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
      text-decoration: none!important;
    }
  }
  &.fail {
    .failArea {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
      text-decoration: none!important;
    }
  }
  .attachesArea {
    border-top: 1px solid #ddd;
  }
  .attaches {
    padding: 13px;
    .attach {
      float: left;
      width: 87px;
      height: 87px;
      margin: 3px;
      position: relative;
      transition: 0.2s;
      background: #000;
      cursor: pointer;
      .info {
        display: none;
      }
    }
  }
}
