.dateButton {
  position: relative;
  cursor: pointer;
  display: inline-block;
  .hidden-input {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    display: none;
  }
  .form-control {
    height: 25px;
    padding: 3px 7px;
    width: 156px;
    position: relative;
    z-index: 2;
  }
  .cal {
    position: absolute;
    right: 6px;
    top: -1px;
    color: #2B587A;
    z-index: 3;
    font-size: 19px;
    opacity: 0.4;
  }
  .dropdown-menu {
    width: 284px!important;
    overflow: hidden;
    border-radius: 0px;
    background: #FFF;
    box-shadow: 0 0px 2px rgba(6, 33, 63, 0.13);
    z-index: 1;
  }
}
