/* orange */
/* plasma blue */
/* borders */
/* borders */
/*@import url('vendor/ionicons/ionicons.less');  */
.btn {
  transition: 0.2s;
  padding: 6px 16px 7px;
}
.btn.btn-primary {
  background-color: #6287AE;
  font-size: 13px;
  line-height: 1.385em;
  border: none;
}
.btn.btn-primary:hover {
  background-color: #678EB5;
}
.btn.btn-link {
  height: 31px;
  font-size: 12px;
  color: #45688E;
  text-decoration: none;
}
.btn.btn-link:hover {
  color: #000;
  cursor: pointer;
}
.form-control {
  border-radius: 0px;
  border: 1px solid #C3CBD4;
  background: #FFF;
  box-shadow: none!important;
  height: 31px;
  font-size: 12px;
}
select.form-control {
  -webkit-appearance: none;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0);
  height: 25px;
  padding: 3px 19px 3px 7px;
}
.selectWrapper {
  background: #fff;
  position: relative;
  overflow: auto;
  display: inline-block;
}
.selectWrapper:after {
  position: absolute;
  right: 6px;
  top: 3px;
  content: "\f107";
  font-family: FontAwesome;
  z-index: 1;
  color: #CCC;
  font-size: 14px;
}
.modal {
  background: rgba(0, 0, 0, 0.7);
}
.modal .modal-content {
  border-radius: 0px;
}
.modal .modal-dialog {
  margin: 15px auto;
}
.modal .modal-header {
  border-bottom: 1px solid #E5E5E5;
  color: #FFF;
  background: #597BA5;
  font-weight: bold;
  padding: 17px 20px 18px;
}
.modal .modal-header h3 {
  font-size: 12px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
.modal .modal-body {
  padding: 20px;
}
.modal .nav-tabs > li > a:hover,
.modal .uploadImage:hover {
  background-color: #E1E7ED;
  cursor: pointer;
}
.modal .nav-tabs > li.active > a {
  background-color: #597DA3;
  color: #FFF;
}
.modal .up-level-tabs .nav-tabs {
  position: relative;
  top: 1px;
  padding: 8px 20px 8px;
  background: #F7F7F7;
  border-bottom: 1px solid #DAE1E8;
  margin: -20px -20px 1px;
}
.modal .nav-tabs a,
.modal .uploadImage {
  margin-right: 5px;
  line-height: 14px;
  border: none!important;
  padding: 4px 8px 7px;
  max-width: 230px;
  height: 22px;
  overflow: hidden;
  font-weight: bold;
  color: #45688E;
  font-size: 11px;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
}
.modal .bodyWithTabs {
  padding-top: 20px;
}
.modal .modal-footer {
  text-align: center;
  background: #FAFAFA;
  background: rgba(250, 250, 250, 0.95);
  border-top: 1px solid #EEE;
  padding: 16px;
  width: 558px;
  bottom: 0px;
  z-index: 20;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans';
  font-weight: 300;
  background-color: #F0F2F5;
  font-size: 12px;
}
body.loaded .window {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
a {
  color: #fff;
}
a:hover {
  color: #f90;
}
.gray {
  color: #999999;
}
.link {
  text-decoration: none;
  border-bottom: 1px solid;
  transition: 0.2s;
}
.link:hover {
  text-decoration: none;
  border-color: transparent;
}
.link.no-border {
  border-color: transparent;
}
.whiteLink {
  color: #fff!important;
  border: none!important;
  text-decoration: none!important;
  cursor: default!important;
}
.window {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: 0.2s;
  width: 960px;
  margin: 40px auto;
  padding-bottom: 300px;
}
.window h2 {
  font-size: 17px;
  margin: 45px 0 10px;
}
.window h3 {
  margin: 20px 0 5px;
  font-size: 12px;
}
.window header .sharePhrase {
  position: relative;
  top: 2px;
}
.window footer {
  margin-top: 40px;
}
.window footer .controls-list {
  display: inline-block;
  margin-left: 10px;
}
.window .leftColumn {
  float: left;
  width: 580px;
  background: #FFF;
  box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
  padding: 25px;
}
.window .rightColumn {
  float: left;
  width: 160px;
  margin-left: 30px;
  position: relative;
  background: #FFF;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
}
.window .rightColumn h4 {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #999;
}
.window .rightColumn .attachsButtons {
  margin-top: 9px;
}
.window .rightColumn .attachsButtons div {
  color: #2B587A;
  transition: 0.2s;
  margin-bottom: 7px;
  opacity: 0.8;
}
.window .rightColumn .attachsButtons div:hover {
  opacity: 1;
  cursor: pointer;
  color: #222;
}
.window .rightColumn .attachsButtons div .fa {
  width: 22px;
  top: 1px;
  position: relative;
}
.window .rightColumn .attachsButtons div .fa-camera {
  font-size: 16px;
  left: 1px;
}
.window .rightColumn .attachsButtons div .fa-music {
  font-size: 17px;
  top: 2px;
  left: 1px;
}
.window .rightColumn .attachsButtons div .fa-film {
  font-size: 15px;
  left: 2px;
}
.window .rightColumn .attachsButtons div .fa-bar-chart {
  font-size: 16px;
  left: 1px;
  top: 2px;
}
.window .rightColumn .attachsButtons div .fa-file {
  font-size: 16px;
  left: 3px;
}
.window .rightColumn .attachsButtons div span {
  font-size: 12px;
}
.window .rightColumn .lastAttachCount {
  color: #aaa;
  margin-top: 15px;
  font-size: 10px;
}
.window .body {
  margin: 20px 0;
}
.window .body .postArea {
  width: 100%;
  padding: 10px;
  border: 1px solid #DDD;
  background: #FFF;
  height: 133px;
  font-size: 12px;
  word-wrap: break-word;
  line-height: 18px;
  outline: none;
  margin-bottom: 10px;
}
.window .body .separator {
  height: 1px solid #eee;
  clear: both;
  padding: 10px 0;
}
.jcrop-hline {
  background: #ffffff url("../images/Jcrop.gif");
}
.fancybox-wrap {
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
  transform: scale(0.9);
}
.fancybox-wrap.showed {
  opacity: 1;
  transform: scale(1);
}
.gogoleft {
  position: absolute;
  left: -9999px;
}
.relative {
  position: relative;
}
.attaches {
  margin: -5px;
}
.attaches .attach {
  float: left;
  width: 103px;
  height: 103px;
  margin: 5px;
  position: relative;
  transition: 0.2s;
  background: #000;
  cursor: pointer;
}
.attaches .attach.processing .process {
  opacity: 1;
  visibility: visible;
}
.attaches .attach .process {
  opacity: 0;
  position: absolute;
  font-size: 21px;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  line-height: 106px;
  visibility: hidden;
  transition: 0.2s;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
}
.attaches .attach .image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.attaches .attach .lower {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.attaches .attach .actions {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  z-index: 3;
}
.attaches .attach .actions .lay {
  color: #eee;
  left: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 24px;
  transition: 0.2s;
  opacity: 0.5;
  font-size: 15px;
  cursor: pointer;
}
.attaches .attach .actions .lay:hover {
  opacity: 0.8;
}
.attaches .attach .info {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: #EEE;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px 5px;
  transition: 0.2s;
}
.attaches .attach .info .gray {
  color: #aaa;
}
.attaches .attach.selected .lower {
  opacity: 0.5;
  visibility: visible;
}
.attaches .attach.selected .actions {
  opacity: 1;
  visibility: visible;
  background-color: transparent;
}
.attaches .attach.selected .actions .lay {
  opacity: 1;
}
.attaches .attach.selected .info {
  opacity: 0;
  visibility: hidden;
}
.attaches .attach:hover .actions {
  opacity: 1;
  visibility: visible;
}
.pointer {
  cursor: pointer;
}
.popover {
  max-width: 400px;
  font-size: 12px;
}
.content {
  width: 577px;
}
.mb10 {
  margin-bottom: 10px;
}
.mt20 {
  margin-top: 20px;
}
.groupSelect {
  font-size: 12px;
}
.groupSelect .select2-container .select2-choice {
  border: 1px solid #C3CBD4;
  border-radius: 0px;
  background: #FFF;
  box-shadow: none!important;
  height: 33px;
  line-height: 33px;
  font-size: 12px;
}
.groupSelect .select2-container .select2-choice .select2-arrow {
  border: none;
  background: rgba(0, 0, 0, 0);
  font-family: FontAwesome;
}
.groupSelect .select2-container .select2-choice .select2-arrow b:after {
  content: "\f107";
}
.groupSelect .select2-results {
  padding: 0 0 0 0px;
  margin: 5px 0px 0px 0;
}
.groupSelect .select2-results .select2-highlighted {
  background: #2B587A;
  color: #FFF;
}
.groupSelect .select2-drop-active {
  border: 1px solid #C3CBD4;
  border-radius: 0px;
  padding-top: 10px;
}
.groupSelect .select2 {
  min-width: 300px;
}
.groupSelect .select2 .select2-search {
  padding-left: 9px;
  padding-right: 9px;
}
.groupSelect .ui-select-choices-row {
  position: relative;
  padding: 5px 0px;
}
.groupSelect .image {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -13px;
}
.groupSelect .name {
  display: inline-block;
  margin-left: 38px;
  margin-top: 0px;
  font-size: 12px;
}
.uploadImage {
  float: right;
  position: relative;
  top: 0px;
  margin: 0!important;
}
.dateArea {
  margin-top: 40px;
}
.dateArea .addTimer {
  color: #2B587A;
  cursor: pointer;
}
.dateArea .calendar,
.dateArea .in,
.dateArea .timec {
  display: inline-block;
}
.dateArea .in {
  position: relative;
  font-size: 12px;
}
.dateArea .timec {
  position: relative;
  top: 8px;
}
.timelineArea {
  margin-top: 20px;
}
.controls-list label {
  display: block;
  position: relative;
  cursor: pointer;
}
.controls-list input {
  width: 1px;
  height: 1px;
  visibility: hidden;
  opacity: 0;
}
.controls-list input:checked + span:after {
  opacity: 1;
}
.controls-list span {
  display: inline-block;
  margin-left: 20px;
  font-weight: normal;
  font-size: 12px;
}
.controls-list span:before {
  width: 12px;
  height: 12px;
  box-shadow: 0px 0px 1px #000;
  left: 5px;
  top: 5px;
  content: '';
  position: absolute;
  display: block;
  background-color: #fff;
}
.controls-list span:after {
  width: 8px;
  height: 8px;
  left: 7px;
  top: 7px;
  background: #358CE0;
  opacity: 0;
  transition: 0.2s;
  content: '';
  position: absolute;
  display: block;
}
.controls-list.radioList span:after,
.controls-list.radioList span:before {
  border-radius: 50%;
}
.noResults {
  padding: 40px;
  text-align: center;
  color: #888;
}
.postsTimeline {
  position: relative;
}
.postsTimeline .refresh {
  position: absolute;
  color: #2B587A;
  font-size: 25px;
  right: 12px;
  top: 0;
  transition: 0.2s;
  transform: scale(0.9) translateY(3px);
  opacity: 0;
  visibility: hidden;
}
.postsTimeline .refresh.active {
  transform: scale(1) translateY(0px);
  opacity: 0.5;
  visibility: visible;
}
.photobankSearch .fa-search {
  position: absolute;
  top: 10px;
  z-index: 4;
  color: #AAA;
  left: 10px;
}
.photobankSearch .searchField .search {
  width: 100%!important;
  padding-left: 26px;
  display: block;
}
.photobankSearch .searchField .info {
  position: absolute;
  padding-right: 0px;
  right: 9px;
  z-index: 22;
  top: 0px;
}
.timeSelect .sep {
  position: relative;
  top: -8px;
  display: inline-block;
  margin: 0 -3px;
}
.dateButton {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.dateButton .hidden-input {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}
.dateButton .form-control {
  height: 25px;
  padding: 3px 7px;
  width: 156px;
}
.dateButton .fa {
  position: absolute;
  right: 6px;
  top: 5px;
  color: #2B587A;
}
.dateButton .dropdown-menu {
  top: 28px!important;
  left: 0px!important;
  width: 210px!important;
  overflow: hidden;
  border-radius: 0px;
  background: #FFF;
  box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
}
.jcropArea .image {
  padding: 20px;
}
.jcropArea .jcrop-keymgr {
  left: -9999px !important;
}
.jcropArea .jcrop-handle {
  background-color: #FFF;
  border: 1px solid #EEE;
  width: 12px;
  height: 12px;
  font-size: 1px;
  box-shadow: 0px 0px 2px #000;
  opacity: 1!important;
}
.jcropArea .jcrop-hline,
.jcropArea .jcrop-vline {
  background: #fff!important;
}
.date-selector {
  width: 100%;
}
.date-selector .inputs {
  position: relative;
  width: 168px;
  margin: -3px 0 0 3px;
  border: 1px solid #E0E0E0;
  height: 30px;
}
.date-selector .inputs input {
  border: none;
  outline: 0;
  float: left;
  height: 100%;
  line-height: 19px;
  background: 0 0;
  color: #000;
  text-align: center;
}
.date-selector .inputs:after,
.date-selector .inputs:before {
  position: absolute;
  content: '';
  top: 7px;
  height: 13px;
  width: 1px;
  background: #ccc;
}
.date-selector .inputs:after {
  left: 85px;
}
.date-selector .inputs:before {
  left: 42px;
}
.date-selector .inputs .day,
.date-selector .inputs .month {
  width: 43px;
}
.date-selector .inputs .year {
  width: 80px;
}
.date-selector .hidden-input {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}
.calendar {
  outline: none!important;
}
.calendar .dropdown-menu {
  outline: none;
  padding: 0;
}
.calendar .btn.btn-default {
  padding: 0px 3px;
  font-size: 11px;
  outline: none;
  border: none;
  color: #000;
  border-radius: 0px;
}
.calendar .btn-default[disabled] {
  background: #f9f9f9;
  cursor: default!important;
  color: #ccc!important;
}
.calendar .text-info {
  color: #3A65BE;
  font-weight: bold;
}
.calendar table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  outline: none!important;
}
.calendar table tr:first-child th {
  background-color: transparent;
  overflow: hidden;
  line-height: 32px;
  height: 32px;
  text-align: center;
  padding: 0;
  min-width: 34px;
  border: none;
}
.calendar table tr:first-child th:nth-child(1),
.calendar table tr:first-child th:nth-child(3) {
  width: 34px;
}
.calendar table tr:first-child th:nth-child(2) {
  width: 184px;
}
.calendar table tr:first-child th:nth-child(2) .btn {
  font-size: 12px;
  background: #FFF!important;
  cursor: default!important;
  box-shadow: none!important;
}
.calendar table tr:first-child th:nth-child(1) i:before {
  content: "\f104" !important;
}
.calendar table tr:first-child th:nth-child(3) i:before {
  content: "\f105" !important;
}
.calendar table tr:first-child th .btn:hover {
  background-color: #eee;
}
.calendar table tr:first-child th .btn:active {
  background-color: #ddd;
}
.calendar table tr:first-child th:nth-child(2) .btn strong {
  font-weight: normal;
}
.calendar table tr:first-child th .btn {
  height: 100%;
  padding: 0;
  width: 100%;
}
.calendar table tr:first-child th .btn i {
  padding: 0 0px;
  font-family: FontAwesome!important;
  font-size: 22px;
  color: #707070;
}
.calendar table tr:last-child th {
  background-color: #fff;
  color: #575757;
  font-weight: 400;
  font-size: 12px;
  padding: 4px;
}
.calendar table td {
  border: 1px solid #F7F7F7;
  background-color: #FFF;
  text-align: center;
  height: 27px;
  width: 32px;
  padding: 0;
}
.calendar table td .btn {
  height: 100%;
  box-shadow: inset 0px 0px 0px 2px transparent;
}
.calendar .text-muted {
  color: #A9A9A9;
}
.calendar button.btn.btn-default.btn-sm.btn-info.active {
  box-shadow: inset 0px 0px 0px 2px #009ee0;
  color: #000;
}
.calendar .btn.btn-default:focus {
  background: transparent;
}
