/* orange */
/* plasma blue */
/* borders */
/* borders */
/*@import url('vendor/ionicons/ionicons.less');  */
.btn {
  transition: 0.2s;
  padding: 6px 20px 7px;
  outline: none!important;
  border-radius: 3px;
}
.btn.btn-primary {
  background-color: #567CA4;
  font-size: 12px;
  line-height: 1.385em;
  border: none;
  -webkit-font-smoothing: subpixel-antialiased;
}
.btn.btn-primary:hover {
  background-color: #567CA4;
}
.btn.btn-link {
  height: 31px;
  font-size: 12px;
  color: #45688E;
  text-decoration: none;
}
.btn.btn-link:hover {
  color: #000;
  cursor: pointer;
}
.form-control {
  border-radius: 0px;
  border: 1px solid #C3CBD4;
  background: #FFF;
  box-shadow: none!important;
  height: 31px;
  font-size: 12px;
}
select.form-control {
  -webkit-appearance: none;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0);
  height: 25px;
  padding: 3px 19px 3px 7px;
}
.selectWrapper {
  background: #fff;
  position: relative;
  overflow: auto;
  display: inline-block;
}
.selectWrapper:after {
  position: absolute;
  right: 6px;
  top: 3px;
  content: "\f107";
  font-family: FontAwesome;
  z-index: 1;
  color: #CCC;
  font-size: 14px;
}
.modal {
  background: rgba(0, 0, 0, 0.7);
  transform: translate3d(0, 0, 0);
}
.modal .modal-content {
  border-radius: 0px;
}
.modal .modal-dialog {
  margin: 15px auto;
}
.modal .nav-tabs > li {
  margin: 0;
}
.modal .nav-tabs > li > a:hover,
.modal .uploadImage:hover {
  background-color: #F5F7FA;
  cursor: pointer;
  border-color: transparent;
}
.modal .nav-tabs > li.active > a {
  border: none;
  color: #597BA5;
  border-bottom: 2px solid #597BA5;
}
.modal .up-level-tabs .nav-tabs {
  position: relative;
  top: 1px;
  padding: 0px 0px 0px;
  background: #FFF;
  margin: -22px -20px 1px;
  border-bottom: 1px solid #F2F2F2;
}
.modal .nav-tabs a,
.modal .uploadImage {
  color: #45688E;
  font-size: 12px;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 10px 20px 8px;
  border: 0px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  margin: 0;
  font-weight: normal;
}
.modal .bodyWithTabs {
  padding-top: 20px;
}
.modal-header {
  border-bottom: 1px solid #E5E5E5;
  color: #FFF;
  background: #597BA5;
  font-weight: bold;
  padding: 17px 20px 18px;
}
.modal-header h3 {
  font-size: 14px;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}
.modal-body {
  padding: 20px;
}
.modal-footer {
  text-align: center;
  background: #FAFAFA;
  background: rgba(250, 250, 250, 0.95);
  border-top: 1px solid #EEE;
  padding: 16px 20px;
  width: 100%;
  bottom: 0px;
  z-index: 20;
}
.fixRight {
  position: absolute;
  right: 0;
}
.modal.in.fade .modal-dialog {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.modal.fade .modal-dialog {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
html,
body {
  height: 100%;
  min-height: 100%;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: #ddd;
}
::-webkit-scrollbar-thumb {
  background: #222;
  position: relative;
  -webkit-transition: background 0.2s;
}
::-webkit-scrollbar-thumb:before {
  position: absolute;
  left: 3px;
  top: 50%;
  border: 5px solid transparent;
  border-right: 5px solid #999;
  content: ' ';
  width: 1px;
  height: 1px;
}
body {
  font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans';
  font-weight: 300;
  background-color: transparent;
  font-size: 12px;
}
body:before {
  content: '';
  height: 1px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #4F73AB;
  z-index: 2000;
}
body.loaded .filterArea {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
a {
  color: #fff;
}
a:hover {
  color: #f90;
}
.gray {
  color: #999999;
}
.link {
  text-decoration: none;
  border-bottom: 1px solid;
  transition: 0.2s;
}
.link:hover {
  text-decoration: none;
  border-color: transparent;
}
.link.no-border {
  border-color: transparent;
}
.whiteLink {
  color: #fff!important;
  border: none!important;
  text-decoration: none!important;
  cursor: default!important;
}
.layerFs {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.layerFs #fountainG {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -36px 0 0 -60px;
}
.layerFs.active {
  opacity: 1;
  visibility: visible;
}
.layerFs .info {
  position: absolute;
  top: 50%;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 14px;
  color: #567CA4;
  font-weight: bold;
}
.layerFs .info .gray {
  display: block;
  font-size: 10px;
  font-weight: normal;
}
.filterArea {
  background-color: #F0F2F5;
  opacity: 0;
  visibility: hidden;
  padding: 60px 0;
  transform: translateY(100px);
  transition: 0.4s;
  position: relative;
}
.filterArea.blur {
  -webkit-filter: blur(3px) grayscale(1);
  opacity: 0.4;
}
.filterArea .resizer,
.filterArea .remover {
  opacity: 0.4;
  transition: 0.2s;
}
.filterArea .resizer:hover,
.filterArea .remover:hover {
  opacity: 1;
  cursor: pointer;
}
.filterArea .resizer {
  position: absolute;
  width: 40px;
  margin-left: -20px;
  top: 10px;
  left: 50%;
  text-align: center;
  font-size: 14px;
}
.filterArea .remover {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 16px;
}
body.min .filterArea {
  /*background-color: rgba(250, 250, 255, 0.94);*/
}
body.min .filterArea .resizer {
  color: #4F73AB;
}
.window {
  margin: auto;
  width: 960px;
  padding-bottom: 300px;
}
.window h2 {
  font-size: 17px;
  margin: 45px 0 10px;
}
.window h3 {
  margin: 20px 0 5px;
  font-size: 12px;
}
.window header .sharePhrase {
  position: relative;
  top: 2px;
}
.window header .fromApp {
  display: inline-block;
  position: relative;
  top: 1px;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-15px);
}
.window header .fromApp.active {
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
}
.window header .fromApp .sharePhrase {
  color: #AAA;
  margin-left: 11px;
  font-size: 10px;
  top: 0px;
}
.window header .fromApp img {
  height: 25px;
  position: relative;
  top: -1px;
}
.window header .fromApp .title {
  font-size: 10px;
  font-weight: bold;
  position: relative;
  top: 0px;
  color: #666;
}
.window footer {
  margin-top: 40px;
}
.window footer .controls-list {
  display: inline-block;
  margin-left: 10px;
}
.window footer .controls-list label {
  display: inline-block;
  margin-right: 10px;
}
.window .leftColumn {
  float: left;
  width: 608px;
  background: #FFF;
  box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
  padding: 25px;
}
.window .rightColumn {
  float: left;
  width: 160px;
  margin-left: 30px;
  position: relative;
  background: #FFF;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
}
.window .rightColumn h4 {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #999;
}
.window .rightColumn .attachsButtons {
  margin-top: 9px;
}
.window .rightColumn .attachsButtons div {
  color: #2B587A;
  transition: 0.2s;
  margin-bottom: 7px;
  opacity: 0.8;
}
.window .rightColumn .attachsButtons div:hover {
  opacity: 1;
  cursor: pointer;
  color: #222;
}
.window .rightColumn .attachsButtons div .fa {
  width: 22px;
  top: 1px;
  position: relative;
}
.window .rightColumn .attachsButtons div .fa-camera {
  font-size: 16px;
  left: 1px;
}
.window .rightColumn .attachsButtons div .fa-music {
  font-size: 17px;
  top: 2px;
  left: 1px;
}
.window .rightColumn .attachsButtons div .fa-film {
  font-size: 15px;
  left: 2px;
}
.window .rightColumn .attachsButtons div .fa-bar-chart {
  font-size: 16px;
  left: 1px;
  top: 2px;
}
.window .rightColumn .attachsButtons div .fa-file {
  font-size: 16px;
  left: 3px;
}
.window .rightColumn .attachsButtons div span {
  font-size: 12px;
}
.window .rightColumn .lastAttachCount {
  color: #aaa;
  margin-top: 15px;
  font-size: 10px;
}
.window .body {
  margin: 20px 0;
}
.window .body .postArea {
  width: 100%;
  padding: 10px;
  border: 1px solid #DDD;
  background: #FFF;
  height: 103px;
  font-size: 12px;
  word-wrap: break-word;
  line-height: 18px;
  outline: none;
  margin-bottom: 10px;
  resize: none;
  max-height: 400px;
  overflow: auto!important;
}
.window .body .separator {
  height: 1px solid #eee;
  clear: both;
  padding: 10px 0;
}
.jcrop-hline {
  background: #ffffff url("../images/Jcrop.gif");
}
.fancybox-wrap {
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
  transform: scale(0.9);
}
.fancybox-wrap.showed {
  opacity: 1;
  transform: scale(1);
}
.gogoleft {
  position: absolute;
  left: -9999px;
}
.relative {
  position: relative;
}
.attaches {
  margin: -5px;
}
.attaches .attach {
  float: left;
  width: 132px;
  height: 132px;
  margin: 5px;
  position: relative;
  transition: 0.2s;
  background: #000;
  cursor: pointer;
}
.attaches .attach.processing .process {
  opacity: 1;
  visibility: visible;
}
.attaches .attach .process {
  opacity: 0;
  position: absolute;
  font-size: 22px;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  line-height: 132px;
  visibility: hidden;
  transition: 0.2s;
  z-index: 6;
  background-color: rgba(255, 255, 255, 0.8);
}
.attaches .attach .image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.attaches .attach .lower {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.attaches .attach .actions {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  z-index: 3;
}
.attaches .attach .actions .lay {
  color: #eee;
  left: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 24px;
  transition: 0.2s;
  opacity: 0.5;
  font-size: 15px;
  cursor: pointer;
}
.attaches .attach .actions .lay:hover {
  opacity: 0.8;
}
.attaches .attach .info {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  color: #EEE;
  font-size: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px 5px;
  transition: 0.2s;
  z-index: 5;
  opacity: 0.8;
}
.attaches .attach .info .gray {
  color: #aaa;
}
.attaches .attach.selected .lower {
  opacity: 0.8;
  visibility: visible;
}
.attaches .attach.selected .actions {
  opacity: 1;
  visibility: visible;
  background-color: transparent;
}
.attaches .attach.selected .actions .lay {
  opacity: 1;
}
.attaches .attach:hover .actions {
  opacity: 1;
  visibility: visible;
}
.attaches .attach:hover .playButton {
  opacity: 1;
}
.attaches .attach .playButton {
  position: absolute;
  left: 0px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  line-height: 132px;
  font-size: 49px;
  text-align: center;
  color: #FFF;
  opacity: 0.8;
  transition: 0.2s;
  text-shadow: 0px 2px 7px #000;
}
.attaches .attach[data-type="poll"] {
  float: none;
  clear: both;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0);
  cursor: default;
  padding-top: 1px;
}
.pointer {
  cursor: pointer;
}
.popover {
  max-width: 400px;
  font-size: 12px;
}
.content {
  width: 577px;
}
.mb10 {
  margin-bottom: 10px;
}
.mt20 {
  margin-top: 20px;
}
.groupSelect {
  font-size: 12px;
}
.groupSelect .select2-container .select2-choice {
  border: 1px solid #C3CBD4;
  border-radius: 0px;
  background: #FFF;
  box-shadow: none!important;
  height: 33px;
  line-height: 33px;
  font-size: 12px;
}
.groupSelect .select2-container .select2-choice .select2-arrow {
  border: none;
  background: rgba(0, 0, 0, 0);
  font-family: FontAwesome;
}
.groupSelect .select2-container .select2-choice .select2-arrow b:after {
  content: "\f107";
}
.groupSelect .select2-results {
  padding: 0 0 0 0px;
  margin: 5px 0px 0px 0;
}
.groupSelect .select2-results .select2-highlighted {
  background: #2B587A;
  color: #FFF;
}
.groupSelect .select2-drop-active {
  border: 1px solid #C3CBD4;
  border-radius: 0px;
  padding-top: 10px;
}
.groupSelect .select2 {
  min-width: 300px;
}
.groupSelect .select2 .select2-search {
  padding-left: 9px;
  padding-right: 9px;
}
.groupSelect .ui-select-choices-row {
  position: relative;
  padding: 5px 0px;
}
.groupSelect .image {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -13px;
}
.groupSelect .name {
  display: inline-block;
  margin-left: 38px;
  margin-top: 0px;
  font-size: 12px;
}
.uploadImage {
  float: right;
  position: relative;
  top: 0px;
  margin: 0!important;
}
.dateArea {
  margin-top: 40px;
}
.dateArea .addTimer {
  color: #2B587A;
  cursor: pointer;
}
.dateArea .calendar,
.dateArea .in,
.dateArea .timec {
  display: inline-block;
}
.dateArea .in {
  position: relative;
  font-size: 12px;
}
.dateArea .timec {
  position: relative;
  top: 8px;
}
.timelineArea {
  margin-top: 20px;
}
.controls-list label {
  display: block;
  position: relative;
  cursor: pointer;
}
.controls-list input {
  width: 1px;
  height: 1px;
  visibility: hidden;
  opacity: 0;
}
.controls-list input:checked + span:after {
  opacity: 1;
}
.controls-list span {
  display: inline-block;
  margin-left: 20px;
  font-weight: normal;
  font-size: 12px;
  color: #555;
}
.controls-list span:before {
  width: 14px;
  height: 14px;
  left: 4px;
  top: 1px;
  content: '';
  position: absolute;
  display: block;
  background-color: #FFF;
  border: 1px solid #C3CBD4;
}
.controls-list span:after {
  width: 8px;
  height: 8px;
  left: 7px;
  top: 4px;
  background: #358CE0;
  opacity: 0;
  transition: 0.2s;
  content: '';
  position: absolute;
  display: block;
}
.controls-list.radioList span:after,
.controls-list.radioList span:before {
  border-radius: 50%;
}
.controls-list.checkboxList span:after {
  font-family: FontAwesome;
  content: "\f00c";
  background: rgba(0, 0, 0, 0);
  top: 1px;
  left: 6px;
  font-size: 11px;
  color: #567CA4;
}
.noResults {
  padding: 40px;
  text-align: center;
  color: #888;
}
.fancybox-overlay {
  background: none;
  background-color: rgba(0, 0, 0, 0.8);
}
.fancybox-skin {
  border-radius: 0px;
}
.fsSearchBlock {
  margin: -21px -20px 19px;
}
.fsSearchBlock .fa-search {
  position: absolute;
  top: 13px;
  z-index: 4;
  color: #E0D8D8;
  left: 20px;
  font-size: 16px;
}
.fsSearchBlock .search {
  width: 100%!important;
  padding-left: 45px;
  display: block;
  height: 40px;
  line-height: 40px;
  border: 0px;
  border-bottom: 1px solid #EEE;
  border-top: 1px solid #EEE;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  background: #FCFCFC;
}
.fsSearchBlock .info {
  position: absolute;
  padding-right: 0px;
  right: 20px;
  z-index: 22;
  top: 7px;
  font-size: 10px;
}
.lineLoader {
  position: absolute;
  opacity: 0;
  transition: 0.2s;
  overflow: hidden;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px;
  font-size: 16px;
  transform: translateY(-10px);
}
.lineLoader.active {
  position: relative;
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#fountainG {
  position: relative;
  width: 120px;
  height: 15px;
}
.fountainG {
  position: absolute;
  top: 0;
  background-color: #2B587A;
  width: 15px;
  height: 15px;
  -webkit-animation-name: bounce_fountainG;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -webkit-transform: scale(0.3);
  -webkit-border-radius: 10px;
  animation-name: bounce_fountainG;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  transform: scale(0.3);
  border-radius: 10px;
}
#fountainG_1 {
  left: 0;
  -webkit-animation-delay: 0.52s;
  animation-delay: 0.52s;
}
#fountainG_2 {
  left: 15px;
  -webkit-animation-delay: 0.65s;
  animation-delay: 0.65s;
}
#fountainG_3 {
  left: 30px;
  -webkit-animation-delay: 0.78s;
  animation-delay: 0.78s;
}
#fountainG_4 {
  left: 45px;
  -webkit-animation-delay: 0.91s;
  animation-delay: 0.91s;
}
#fountainG_5 {
  left: 60px;
  -webkit-animation-delay: 1.04s;
  animation-delay: 1.04s;
}
#fountainG_6 {
  left: 75px;
  -webkit-animation-delay: 1.17s;
  animation-delay: 1.17s;
}
#fountainG_7 {
  left: 90px;
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
#fountainG_8 {
  left: 105px;
  -webkit-animation-delay: 1.43s;
  animation-delay: 1.43s;
}
@-webkit-keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(1);
    background-color: #2B587A;
  }
  100% {
    -webkit-transform: scale(0.3);
    background-color: transparent;
  }
}
@keyframes bounce_fountainG {
  0% {
    transform: scale(1);
    background-color: #2B587A;
  }
  100% {
    transform: scale(0.3);
    background-color: transparent;
  }
}
.postsTimeline {
  position: relative;
}
.postsTimeline .refresh {
  position: absolute;
  color: #2B587A;
  font-size: 25px;
  right: 12px;
  top: 0;
  transition: 0.2s;
  transform: scale(0.9) translateY(3px);
  opacity: 0;
  visibility: hidden;
}
.postsTimeline .refresh.active {
  transform: scale(1) translateY(0px);
  opacity: 0.5;
  visibility: visible;
}
.postsTimeline .empty {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}
.postsTimeline .empty span {
  color: #aaa;
  display: block;
  font-size: 12px;
}
.timeSelect .sep {
  position: relative;
  top: -8px;
  display: inline-block;
  margin: 0 -3px;
}
.videoCover {
  width: 274px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 155px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.videoCover.odd {
  margin-right: 0px;
}
.videoCover .image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.videoCover .info {
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 0;
  right: 0;
  color: #fff;
}
.videoCover .info .duration {
  position: absolute;
  right: 4px;
  z-index: 2;
  bottom: 4px;
  font-size: 11px;
}
.videoCover .info .title {
  position: absolute;
  font-size: 11px;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 4px 60px 4px 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}
.videoCover:hover .info .title {
  white-space: normal;
}
.dateButton {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.dateButton .hidden-input {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}
.dateButton .form-control {
  height: 25px;
  padding: 3px 7px;
  width: 156px;
}
.dateButton .fa {
  position: absolute;
  right: 6px;
  top: 5px;
  color: #2B587A;
}
.dateButton .dropdown-menu {
  top: 28px!important;
  left: 0px!important;
  width: 210px!important;
  overflow: hidden;
  border-radius: 0px;
  background: #FFF;
  box-shadow: 0 1px 2px rgba(6, 33, 63, 0.13);
}
.jcropArea .image {
  padding: 0px;
}
.jcropArea .jcrop-keymgr {
  left: -9999px !important;
}
.jcropArea .jcrop-handle {
  background-color: #FFF;
  border: none;
  width: 12px;
  height: 12px;
  font-size: 1px;
  box-shadow: 0px 0px 1px 1px #555;
  opacity: 1!important;
}
.jcropArea .jcrop-hline,
.jcropArea .jcrop-vline {
  background: #fff!important;
}
.date-selector {
  width: 100%;
}
.date-selector .inputs {
  position: relative;
  width: 168px;
  margin: -3px 0 0 3px;
  border: 1px solid #E0E0E0;
  height: 30px;
}
.date-selector .inputs input {
  border: none;
  outline: 0;
  float: left;
  height: 100%;
  line-height: 19px;
  background: 0 0;
  color: #000;
  text-align: center;
}
.date-selector .inputs:after,
.date-selector .inputs:before {
  position: absolute;
  content: '';
  top: 7px;
  height: 13px;
  width: 1px;
  background: #ccc;
}
.date-selector .inputs:after {
  left: 85px;
}
.date-selector .inputs:before {
  left: 42px;
}
.date-selector .inputs .day,
.date-selector .inputs .month {
  width: 43px;
}
.date-selector .inputs .year {
  width: 80px;
}
.date-selector .hidden-input {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}
.attachPoll {
  padding: 0 20px;
  width: 557px;
}
.attachPoll .fa {
  color: #A0B4CA;
}
.attachPoll h3 {
  position: relative;
  font-weight: bold;
  color: #45688E;
  font-size: 12px;
  margin: 16px 0 9px;
}
.attachPoll h3 .removeIcon {
  left: 100%;
  margin-left: 4px;
  font-size: 16px;
  top: -2px !important;
  cursor: pointer;
}
.attachPoll h3 .pollIcon {
  right: 100%;
  margin-right: 2px;
}
.attachPoll h3 .pollIcon,
.attachPoll h3 .removeIcon {
  position: absolute;
  top: 1px;
}
.attachPoll input[type="text"] {
  height: 25px;
}
.attachPoll .variants .variant {
  margin-bottom: 10px;
  position: relative;
}
.attachPoll .variants .variant .remove {
  opacity: 0;
  position: absolute;
  left: 100%;
  padding-left: 5px;
  top: 1px;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;
}
.attachPoll .variants .variant:hover .remove {
  opacity: 1;
  visibility: visible;
}
.attachPoll .checkboxList {
  margin-left: -4px;
}
.calendar {
  outline: none!important;
}
.calendar .dropdown-menu {
  outline: none;
  padding: 0;
}
.calendar .btn.btn-default {
  padding: 0px 3px;
  font-size: 11px;
  outline: none;
  border: none;
  color: #000;
  border-radius: 0px;
}
.calendar .btn-default[disabled] {
  background: #f9f9f9;
  cursor: default!important;
  color: #ccc!important;
}
.calendar .text-info {
  color: #3A65BE;
  font-weight: bold;
}
.calendar table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  outline: none!important;
}
.calendar table tr:first-child th {
  background-color: transparent;
  overflow: hidden;
  line-height: 32px;
  height: 32px;
  text-align: center;
  padding: 0;
  min-width: 34px;
  border: none;
}
.calendar table tr:first-child th:nth-child(1),
.calendar table tr:first-child th:nth-child(3) {
  width: 34px;
}
.calendar table tr:first-child th:nth-child(2) {
  width: 184px;
}
.calendar table tr:first-child th:nth-child(2) .btn {
  font-size: 12px;
  background: #FFF!important;
  cursor: default!important;
  box-shadow: none!important;
}
.calendar table tr:first-child th:nth-child(1) i:before {
  content: "\f104" !important;
}
.calendar table tr:first-child th:nth-child(3) i:before {
  content: "\f105" !important;
}
.calendar table tr:first-child th .btn:hover {
  background-color: #eee;
}
.calendar table tr:first-child th .btn:active {
  background-color: #ddd;
}
.calendar table tr:first-child th:nth-child(2) .btn strong {
  font-weight: normal;
}
.calendar table tr:first-child th .btn {
  height: 100%;
  padding: 0;
  width: 100%;
}
.calendar table tr:first-child th .btn i {
  padding: 0 0px;
  font-family: FontAwesome!important;
  font-size: 22px;
  color: #707070;
}
.calendar table tr:last-child th {
  background-color: #fff;
  color: #575757;
  font-weight: 400;
  font-size: 12px;
  padding: 4px;
}
.calendar table td {
  border: 1px solid #F7F7F7;
  background-color: #FFF;
  text-align: center;
  height: 27px;
  width: 32px;
  padding: 0;
}
.calendar table td .btn {
  height: 100%;
  box-shadow: inset 0px 0px 0px 2px transparent;
}
.calendar .text-muted {
  color: #A9A9A9;
}
.calendar button.btn.btn-default.btn-sm.btn-info.active {
  box-shadow: inset 0px 0px 0px 2px #009ee0;
  color: #000;
}
.calendar .btn.btn-default:focus {
  background: transparent;
}
.attachVideo .filters {
  position: absolute;
  right: 20px;
  top: 8px;
}
.attachVideo .search {
  padding-right: 290px;
}
.attachVideo .checkboxList {
  display: inline-block;
  position: relative;
  top: -8px;
}
.attachVideo .checkboxList label {
  display: inline-block;
  margin-right: 7px;
}
.highcharts-container {
  overflow: visible !important;
  z-index: 10!important;
}
.highcharts-tooltip > span {
  box-shadow: 0px 0px 2px rgba(88, 88, 88, 0.6) !important;
  padding: 10px;
  background: #fff;
}
.highcharts-tooltip .tooltipArrow {
  left: 50%;
  position: absolute;
  margin-left: -4px;
  top: 100%;
  margin-top: 0px;
}
.highcharts-tooltip .tooltipArrow:before {
  content: '';
  width: 0px;
  height: 0px;
  border: 8px solid transparent;
  border-top-color: #ccc;
  margin-left: -4px;
  position: absolute;
}
.highcharts-tooltip .tooltipArrow:after {
  content: '';
  width: 0px;
  height: 0px;
  border: 7px solid transparent;
  border-top-color: #fff;
  position: absolute;
  margin-left: -3px;
}
.timeLinePostTooltip {
  width: 390px;
}
.timeLinePostTooltip .post {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}
.timeLinePostTooltip .post .left {
  float: left;
  width: 120px;
}
.timeLinePostTooltip .post .left .image {
  width: 100%;
  max-height: 100px;
  background: #eee;
}
.timeLinePostTooltip .post .right {
  float: left;
  width: 260px;
  font-size: 10px;
  white-space: normal;
  word-wrap: break-word;
  margin-left: 10px;
}
.timeLinePostTooltip .post .text {
  margin-bottom: 5px;
}
.timeLinePostTooltip .post .text .emoji {
  width: 16px;
}
.timeLinePostTooltip .post:last-child {
  padding-bottom: 0px;
  border-bottom: none;
  margin-bottom: 0;
}
